<!--
    templateType: global_partial
    label: Global footer
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
<footer class="bg-[#0F0823]">
  <div class="max-w-[1200px] mx-auto my-0">
    <div class="flex gap-20 pt-[100px] pb-[80px]">
      <div class="min-w-[300px]">
        <img
          src="{{
        get_asset_url('best-of-breeds-theme/images/footer_logo.svg') }}"
          alt="footer logo"
          class="min-w-[240px]"
        />
      </div>
      <div class="text-white max-w-[220px] flex-1">
        <h4 class="font-bold text-[20px] mb-[14px] leading-none">Offices</h4>
        <ul class="max-w-[185px] text-[18px] flex flex-col gap-3">
          <li class="leading-[155.556%]">
            HQ: Fjordalleen 16, 0250 Oslo, NORWAY
          </li>
          <li class="leading-[155.556%]">
            Hamarveien 112, 2406 Elverum, NORWAY
          </li>
        </ul>
      </div>
      <div class="text-white max-w-[220px] flex-1">
        <h4 class="font-bold text-[20px] mb-[14px] leading-none">Navigation</h4>
        <ul class="flex flex-col gap-3">
          <li class="text-[20px] leading-none">Get in touch</li>
          <li class="text-[20px] leading-none">Submit a ticket</li>
          <li class="text-[20px] leading-none">Knowledge base</li>
          <li class="text-[20px] leading-none">Sign up for newsletter</li>
        </ul>
      </div>
      <div class="text-white max-w-[220px] flex-1">
        <h4 class="font-bold text-[20px] mb-[14px] leading-none">Follow us</h4>
        <ul class="flex gap-[10px]">
          <li>
            <a href="#" target="_blank"
              ><img
                src="{{ get_asset_url('best-of-breeds-theme/images/facebook_icon.svg') }}"
            /></a>
          </li>
          <li>
            <a href="#" target="_blank"
              ><img
                src="{{ get_asset_url('best-of-breeds-theme/images/linkedin_icon.svg') }}"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="flex justify-between py-6 text-white border-t-[1px] border-white"
    >
      <span class="text-[16px] leading-none">© 2024 - Best of Breed</span>
      <div class="flex gap-6">
        <a href="#" class="text-[16px] leading-none">Privacy Policy</a>
        <a href="#" class="text-[16px] leading-none">Terms & Use</a>
      </div>
    </div>
  </div>
</footer>
<!-- End partial -->
