<!--
    templateType: global_partial
    label: Global header
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
<header class="bg-white">
  <div class="max-w-[1200px] mx-auto my-0 py-[20px]">
    <div class="flex justify-between items-center">
      <div class="logo-container flex">
        <a href="/">
          <img
            src="{{ get_asset_url('best-of-breeds-theme/images/Logo.svg') }}"
            alt="Logo"
          />
        </a>
      </div>
      <nav class="flex-1 flex items-center">
        <ul class="flex w-full justify-center items-center gap-8">
          <li><a href="#" class="leading-none">About us</a></li>
          <li><a href="#" class="leading-none">Business automation</a></li>
          <li><a href="#" class="leading-none">Secure printing</a></li>
          <li><a href="#" class="leading-none">Services</a></li>
        </ul>
      </nav>
      <div>
        <ul class="flex items-center">
          <li class="flex">
            <a
              class="px-[24px] py-[16px] rounded-[100px] border-[1px] border-black leading-none"
              href="#"
              >Contact us</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- End partial -->
